README
=====

This is the Git repository of Docker for **PHP**.

# Image information

| ~ | ~ |
| ----------- | ----------- |
| **php version** | ${_php_version} |
| **tag name**    | ${_branch_name} |
| **base os**     | ${_base_os}(${_base_image}) |
| **run type**    | ${_run_type}    |

# Including extensions

| extension | version |
| ----------- | --------- |
|[imagick](https://pecl.php.net/package/imagick) | 3.4.4 |
|[psr](https://pecl.php.net/package/psr)         | 1.0.0 |
|[phalcon](https://pecl.php.net/package/phalcon) | 4.0.6 |
|[redis](https://pecl.php.net/package/redis)     | 5.2.2 |
|[swoole](https://pecl.php.net/package/swoole)   | 4.5.2 |
